name: CI
on: [ push, pull_request ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        scala: [ "2.13.15", "3.3.0" ]
        project: [ "core", "dot", "json" ]
        exclude:
          - scala: "3.3.0"
            project: "json"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: JDK with SBT caching
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'sbt'
      - name: Test
        run: |
          sbt ++${{ matrix.scala }} ${{ matrix.project }}/test scalafmtCheckAll
          sbt "project coreTestScala3" test Test/scalafmt
